@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

:root {
  --gradient: linear-gradient(
    45deg,
    #d84025,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871,
    #fff
  );
  --gradient2: linear-gradient(45deg, #617218, #004e9a);
  --gradient1: linear-gradient(
    45deg,
    #041b2d,
    #004e9a,
    #204468,
    #0b2342,
    #390a3d
  );
  --gradient3: linear-gradient(45deg, #0014ff, #ff2cdf);
  --gradient4: linear-gradient(45deg, #7f5a83, #0d324d);
}
body {
  /* background-image: var(--gradient4);
  background-size: 4000%;
  animation: bg-animation 5s infinite alternate; */
  background-color: rgba(6, 5, 8, 0.911);
  overflow-y: hidden;
}

.container_main {
  overflow-x: hidden;
}
@keyframes bg-animation {
  0% {
    background-position: center;
  }
  100% {
    background-position: right;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  cursor: default;
}

/* navbar menu */

.navbar {
  z-index: 5;
  width: 300px;
  height: 100%;
  position: fixed;
  background-image: var(--gradient2);
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20% 0 0 60%;
  transition: right 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.change {
  right: 0;
}
.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line {
  width: 100%;
  height: 3px;
  background-color: chocolate;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 6px);
}
.change .line-2 {
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
}
.nav-list {
  text-align: right;
}
.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 5px 0;
  line-height: 30px;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: ease-in 0.5s;
}
.nav-link::after {
  bottom: 0;
  transform-origin: right;
}
.nav-link::before {
  top: 0;
  transform-origin: left;
}
.nav-link:hover {
  color: #eee;
}
.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
@media screen and (max-width: 425px) {
  .intro_name {
    font-size: 3em !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* ends here */

.one .far {
  color: rgb(236, 188, 180);
}

section {
  height: 100vh;

  scroll-snap-align: start end;
  scroll-behavior: smooth;
  padding: 30px 80px;
}


.first_page {
}

.container_main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.one {
  padding: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
}
#particles-js {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
}

.first_page::before {
  position: relative;
  content: "<intro>";
  color: white;
  font-size: 35px;
  top: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}
.first_page::after {
  position: relative;
  content: "</intro>";
  color: white;
  font-size: 35px;
  bottom: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}

.intro {
  position: absolute;
  top: 33%;
  margin-top: -50px;
  width: 100%;
}
.intro_hi {
  color: white;
  width: 100%;
  font-size: 1.5em;
}
.intro_name {
  font-size: 6em;
  color: white;
  width: 100%;
  background-image: var(--gradient);
  background-size: 4000%;
  animation: bg-animation 2s infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.intro_d {
  color: rgb(57, 218, 57);
  font-size: 1.9em;
  width: 100%;
  margin-bottom: 20px;
}

.one .fas {
  font-size: 4em;
  color: white;
  animation: bounce3 3s infinite ease-in-out alternate;
}
@keyframes bounce3 {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*  



SECOND PAGE



*/

.secondpage::before {
  position: relative;
  content: "<skills>";
  color: white;
  font-size: 35px;
  top: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}
.secondpage::after {
  position: relative;
  content: "</skills>";
  color: white;
  font-size: 35px;
  bottom: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}

.secondpage {
  color: white;
}
.innerdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prog-svg-container{
 
 padding-left: 40px;
 padding-right: 50px;
 padding-bottom: 100px;
}
.two {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
}
.skill_container h1 {
  text-align: center;
  transform: scale(1.8);
  color: white;

  background-image: var(--gradient);
  background-size: 4000%;
  animation: bg-animation 2s infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
 
}

.skill_container h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";

  border-radius: 20px;
  height: 2px;
  width: 100%;
  background-color: #a6cab5;
}
.skill_set {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.two svg{
height: fit-content;
margin-top: auto;
}

.row1{
  width: 100%;

}
.row2{
  width: 100%;
  
}

.row3{
  width: 100%;
  
}


#text1 {
  font-size: 50px;
  margin-right: 50px;
  color: yellow;
}
#text2 {
  font-size: 30px;
  margin-right: 50px;
  color: rgb(209, 44, 93);
}
#text3 {
  font-size: 60px;
  margin-right: 50px;
  color: rgb(150, 125, 238);
}
#text4 {
  color: #4dc4f3;
  font-size: 25px;
  margin-right: 50px;
}
#text5 {
  font-size: 40px;
  margin-right: 50px;
  color: rgb(88, 99, 197);
}
#text6 {
  color: #00ff66;
  font-size: 60px;
  margin-right: 50px;
}
#text7 {
  color: #cc00ff;
  font-size: 28px;
  margin-right: 50px;
}
#text8 {
  color: #ff3300;
  font-size: 32px;
  margin-right: 50px;
}
#text9 {
  color: #e2bb0e;
  font-size: 50px;
  margin-right: 50px;
}

.toolstip {
  margin: 10px 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toolstip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  height: 30px;
}

.toolstip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.toolstip:hover .tooltiptext {
  visibility: visible;
}

.bar1 {
  width: 70%;
  background-color: yellow;
  height: 100%;
}
.bar2 {
  width: 70%;
  background-color: rgb(209, 44, 93);
  height: 100%;
}
.bar3 {
  width: 70%;
  background-color: rgb(150, 125, 238);
  height: 100%;
}
.bar4 {
  width: 70%;
  background-color: #4dc4f3;
  height: 100%;
}
.bar5 {
  width: 70%;
  background-color: rgb(88, 99, 197);
  height: 100%;
}
.bar6 {
  width: 70%;
  background-color: #00ff66;
  height: 100%;
}
.bar7 {
  width: 70%;
  background-color: #cc00ff;
  height: 100%;
}
.bar8 {
  width: 70%;
  background-color: #ff3300;
  height: 100%;
}
.bar9 {
  width: 70%;
  background-color: #e2bb0e;
  height: 100%;
}
/* monito1 */
#Vector_20{
   animation: disco 30s infinite;
}
/* monitor2 */
#Vector_22{
   animation: disco1 30s infinite;
}
/* monitor3 */
#Vector_25{
   animation: disco2 30s infinite;
}
/* monitor4 */
/* #Vector_32{
   animation: disco 2s infinite;
} */
/* monitor5 */
#Vector_34{
   animation: disco3 30s infinite;
}
/* monitor6 */
#Vector_32{
   animation: disco4 30s infinite;
}

@keyframes disco{
  0%{
    fill: #1f1dbe;
  }
  100%{
    fill: #000000;
  }
}
@keyframes disco1{
  0%{
    fill: #0d253b;
  }
  100%{
    fill: #0a4049;
  }
}


@keyframes disco2{
  0%{
    fill: #ffffff;
  }
  100%{
    fill:rgb(191, 196, 190);
  }
}


@keyframes disco3{
  0%{
    fill: #0a0a0a;
  }
  100%{
    fill: #303030;
  }
}


@keyframes disco4{
  0%{
    fill: #0f1950;
  }
  100%{
    fill: #340547;
  }
}







@media screen and (max-width: 850px) {
  
  .skill_container h1 {
    text-align: center;
    transform: scale(1.8);
    color: white;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .two {
    padding-right: 0;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  .skill_container {
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
}

@media screen and (max-width: 580px) {
  .skill_set {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 1350px) {
  .skill_set{
    transform: scale(0.8);
  }
  .skill_container h1 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .innerdiv{
    flex-direction: column;
    justify-content: center;
  }
  .secondpage {
  scroll-snap-align:  end start !important;
}
.skill_container h1 {
margin-bottom: 50px;
}
.skill_container{
  transform: scale(1);

}
.secondpage::after {
  
  bottom: 10px;
  left: 20px;
  
}
  
}

@media screen and (max-width: 1250px) {
  .skill_container{
    transform: scale(0.8);
  }
}







/* 


THIRD PAGE



*/

.onemoredivffs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.thirdpage::before {
  position: relative;
  content: "<Projects>";
  color: white;
  font-size: 35px;
  top: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}
.thirdpage::after {
  position: relative;
  content: "</Projects>";
  color: white;
  font-size: 35px;
  bottom: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}

.made_with {
  text-align: center;
  transform: scale(1.7);
  color: white;

  background-image: var(--gradient);
  background-size: 4000%;
  animation: bg-animation 2s infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  height: 10%;
  margin-bottom: 50px;
}
.prof {
  height: 80%;
}
ul {
  list-style: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li h1 {
  color: rgb(18, 211, 236);
}

li {
  color: white;
  margin-bottom: 30px;
  font-size: 25px;
}

li i {
  margin-left: 40px;
}
.three .fas,
.fab {
  font-size: 40px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}


.svg-animation-container{
 width: 100%;
 padding-left: 40px;
 padding-right: 50px;
 padding-bottom: 100px;
}

#human{
  animation: bounce 7s infinite ease-in-out alternate;
}

#tv,
#fly1,
#fly2 {
  animation: bounce 5s infinite ease-in-out alternate;
}
#fly1 {
  animation: bounce1 4s infinite ease-in-out alternate;
}
#fly2 {
  animation: bounce2 6s infinite ease-in-out alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes bounce1 {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-60px);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-50px);
  }
}
@media screen and (max-width: 1000px) {
  .onemoredivffs {
    flex-direction: column;
    justify-content: center;
  }
  .thirdpage {
  scroll-snap-align: start end !important;
}

  .three{
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .svg-animation-container{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 525px) {
  svg {
    transform: scale(0.8) !important;
  }
}
@media screen and (max-width: 425px) {
  svg {
    transform: scale(0.6) !important;
  }
}



/* 
    
    
    FOURTHPAGE

    
    
    
    
    */

.four {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.about_me {
  height: 80%;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
}
.fourthpage::before {
  position: relative;
  content: "<About>";
  color: white;
  font-size: 35px;
  top: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}
.fourthpage::after {
  position: relative;
  content: "</About>";
  color: white;
  font-size: 35px;
  bottom: 60px;
  left: 20px;
  opacity: 0.9;
  font-family: "Sacramento", cursive;
}


